<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <title>JP's Portfolio</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" type="text/css" href="/css/common.css" />
  <link rel="stylesheet" type="text/css" href="/css/post.css" />
</head>

<body>
  <div th:replace="fragments/fragments.html :: sideNav"></div>
  <section th:replace="fragments/fragments.html :: mainImg"></section>
  <section class="contents_wrapper">
    <h1>게시글 목록</h1>
    <section class="post_list">
      <table border="1">
        <thead>
          <tr>
            <th>번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>조회수</th>
            <th>작성일</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>내용1</td>
            <td>내용2</td>
            <td>내용3</td>
            <td>내용3</td>
            <td>내용4</td>
          </tr>
        </tbody>
      </table>
      <div class="post_bottom">
        <a href="/posts/write" id="post_submit">
          <span>글쓰기</span>
        </a>
      </div>
    </section>
  </section>
  <script src="/js/post.js"></script>
  <script src="/js/common.js"></script>
</body>

</html>