<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>
    Spring Init Project v1
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <!-- CSS Files -->
  <link href="/css/material-dashboard.css" rel="stylesheet" />
</head>

<body class="dark-edition">
  <div class="wrapper ">
    <th:block th:replace="./fragments/fragments::sidebar"></th:block>
    <div class="main-panel">
      <th:block th:replace="./fragments/fragments::navbar"></th:block>
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">Post 등록</h4>
                  <input type="hidden" id="id" th:value="${list?.id}">
                  <input type="text" class="form-control" id="title" placeholder="제목을 입력하세요" th:value="${list?.title}">
                </div>
                <div class="card-body">
                  <div class="table-responsive table-upgrade">
                      <textarea class="form-control" rows="10" id="content" placeholder="내용을 입력하세요" th:text="${list?.content}"></textarea>
                  </div>
                </div>
              </div>
              <div>
                <a class="btn btn-primary" id="btn-save"  th:if="${list?.id eq null}" role="button">등록</a>
                <a class="btn btn-primary" id="btn-update" th:if="${list?.id ne null}" role="button">수정</a>
                <a class="btn btn-primary" role="button" href="/posts">취소</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="/js/core/jquery.min.js"></script>
  <script src="/js/core/popper.min.js"></script>
  <script src="/js/core/bootstrap-material-design.min.js"></script>
  <!--   Core JS Files   -->
  <script src="/js/view/post.js"></script>
</body>

</html>