<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <title>JP's Portfolio</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" type="text/css" href="/css/common.css" />
  <link rel="stylesheet" type="text/css" href="/css/post.css" />
</head>

<body>
  <div class="wrapper">
    <div th:replace="fragments/fragments.html :: sideNav"></div>
    <section th:replace="fragments/fragments.html :: mainImg"></section>
    <section class="contents_wrapper">
      <div class="post">
        <ul class="question_kind">
          <li>
            <button>질문</button>
          </li>
          <li>
            <button>수정요청</button>
          </li>
          <li>
            <button>추가요청</button>
          </li>
        </ul>
        <div class="post_header">
          <input type="hidden" id="id" th:value="${list?.id}">
          <input type="text" id="title" placeholder="제목을 입력하세요" th:value="${list?.title}">
        </div>
        <div class="post_body">
          <div>
            <textarea rows="10" id="content" placeholder="내용을 입력하세요" th:text="${list?.content}"></textarea>
          </div>
        </div>
      </div>
      <div class="post_bottom">
        <ul>
          <li>
            <button id="btn_save">등록</button>
          </li>
          <li>
            <button id="btn_update">수정</button>
          </li>
          <li>
            <button id="btn_delete">삭제</button>
          </li>
          <li>
            <button id="btn_cancel">취소</button>
          </li>
        </ul>
      </div>
    </section>
  </div>
  <script src="/js/post.js"></script>
  <script src="/js/common.js"></script>
</body>

</html>