<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <title>JP's Portfolio</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" type="text/css" href="/css/common.css" />
  <link rel="stylesheet" type="text/css" href="/css/post.css" />
</head>

<body>
  <div class="wrapper">
    <div th:replace="fragments/fragments.html :: sideNav"></div>
    <section th:replace="fragments/fragments.html :: mainImg"></section>
    <section class="contents_wrapper">
      <div class="post">
        <div class="post_header">
          <input type="hidden" id="id" th:value="${list?.id}">
          <input type="text" id="title" placeholder="제목을 입력하세요" th:value="${list?.title}">
        </div>
        <div class="post_body">
          <div>
            <textarea rows="10" id="content" placeholder="내용을 입력하세요"
              th:text="${list?.content}"></textarea>
          </div>
        </div>
      </div>
      <div>
        <a id="btn_save"     role="button">등록</a>
        <a id="btn_update"   role="button">수정</a>
        <a id="btn_delete"   role="button">삭제</a>
        <a role="button" href="/posts">취소</a>
      </div>
    </section>
  </div>
  <script src="/js/post.js"></script>
  <script src="/js/common.js"></script>
</body>

</html>