<!-- Main img -->
<section id="profile_img_wrapper" th:fragment="mainImg">
  <div class="member_menu">
    <span><a href="/join">회원가입</a></span>
    <span><a href="/login">로그인</a></span>
    <span><a href="">더보기</a></span>
  </div>
  <div id="main_img">
    <h1>오늘의&nbsp;<span class="highlight">역사</span></h1>
  </div>
</section>
<!-- End main img -->

<!-- Side nav-->
<div class="sidenav" th:fragment="sideNav">
  <a href="#about">About</a>
  <a href="#work">Work</a>
  <a href="#skill">Skill</a>
  <a href="#interest">Interest</a>
  <a href="#Links">Links</a>
  <a href="/posts">게시판</a>
</div>
<!-- End side nav-->