html {
    -webkit-print-color-adjust: exact;
}

* {
    box-sizing: border-box;
    -webkit-print-color-adjust: exact;
    font-family: "Space Mono", monospace;
    margin: 0;
    padding: 0;
}
ul {
    list-style-type: none;
}
html,
body {
    margin: 0;
    padding: 0;
}

a,
a.visited {
    color: inherit;
    text-decoration: underline;
}

h1,
h2,
h3 {
    letter-spacing: -0.01em;
    line-height: 1.2;
    font-weight: 600;
    margin-bottom: 0;
}

h1 {
    font-size: 1.875rem;
    margin-top: 1.875rem;
}

h2 {
    font-size: 1.5rem;
    margin-top: 1.5rem;
}

h3 {
    font-size: 1.25rem;
    margin-top: 1.25rem;
}

table,
th,
td {
    border: 1px solid rgba(55, 53, 47, 0.09);
    border-collapse: collapse;
}

table {
    border-left: none;
    border-right: none;
}

th,
td {
    font-weight: normal;
    padding: 0.25em 0.5em;
    line-height: 1.5;
    min-height: 1.5em;
    text-align: left;
    color: rgb(0, 0, 0);
}

th {
    /* color: rgba(55, 53, 47, 0.6); */
    color: rosybrown;
}

p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
textarea::placeholder {
    color: black;
    font-weight: bold;
}
button,
input,
textarea {
    font-family: NanumGothic, sans-serif;
}
ol,
ul {
    list-style: none;
}
/* contents wrapper */
.contents_wrapper {
    display: block;
    margin-left: 250px;
    justify-content: flex-end;
    height: 70vh;
}
/* side fragments */
.sidenav {
    height: 100%;
    width: 230px;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #d6e2e9;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #293241;
    display: block;
}
.sidenav a:hover {
    color: #5aa9e6;
}

/* top fragments */
.highlight {
    display: inline-block;
    position: relative;
    z-index: 2;
}
.highlight::before {
    background-image: linear-gradient(50deg, transparent 10%, #fcdc65 10%, #fcdc65 90%, transparent 90%);
    width: 120%;
    height: 8%;
    content: "";
    position: absolute;
    bottom: -5%;
    left: -10%;
    z-index: 1;
}
#main_img {
    background-image: url(/img/무궁화.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 25vh;
}
#main_img h1 {
    z-index: 2;
    position: absolute;
    color: wheat;
    line-height: 1.3;
    right: 10%;
    top: 15vh;
}
