section.contents_wrapper>div{
    margin-top: 50px;
}
table.collection-content{
    margin:50px 0px 50px 0px;
}
input.date-input{
    border:none;
    font-size: 30px;
    width: 50px;
}
input.date-input:focus{
    outline: none;
}
td.content:hover{
    cursor:pointer;
    border-bottom: 3px solid green;
}