* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Space Mono", monospace;
}
body {
    background-color: black;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    color: white;
}
h1 {
    color: white;
    font-size: 2rem;
    line-height: 1.2;
}
a {
    color: whitesmoke;
    text-decoration: none;
}
.wrapper {
    position: relative;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.wrapper h1 {
    position: absolute;
    top: 10px;
    left: -300px;
    width: 1000px;
}
.highlight {
    display: inline-block;
    position: relative;
    z-index: 2;
}
.highlight::before {
    background-image: linear-gradient(50deg, transparent 10%, #fcdc65 10%, #fcdc65 90%, transparent 90%);
    width: 120%;
    height: 8%;
    content: "";
    position: absolute;
    bottom: -5%;
    left: -10%;
    z-index: 1;
}
#profile_img_wrapper {
    overflow: hidden;
}
#profile_img {
    background-image: url(/img/profile_wide.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35vh;
}
#about_me {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    background-color: black;
    height: 65vh;
    width: 100%;
    position: relative;
}

.sidenav {
    height: 100%;
    width: 160px;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}
