* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Space Mono", monospace;
}
body {
    background-color: black;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
tr,td,table,thead,
span {
    color: white;
}
h1 {
    color: white;
    font-size: 2rem;
    line-height: 1.2;
}
a {
    color: whitesmoke;
    text-decoration: none;
}
.highlight {
    display: inline-block;
    position: relative;
    z-index: 2;
}
.highlight::before {
    background-image: linear-gradient(50deg, transparent 10%, #fcdc65 10%, #fcdc65 90%, transparent 90%);
    width: 120%;
    height: 8%;
    content: "";
    position: absolute;
    bottom: -5%;
    left: -10%;
    z-index: 1;
}
#main_img {
    background-image: url(/img/무궁화.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 30vh;
}
#main_img h1{
    z-index: 2;
    position:absolute;
    color:wheat;
    line-height: 1.3;
    right: 10%;
    top:20vh;
}
#contents_wrapper {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    background-color: black;
    height: 70vh;
    width: 100%;
    position: relative;
}
.content{
    background-color: #293241;
}
.content_row{
    margin-bottom: 10px;
    padding: 10px;

}
.sidenav {
    height: 100%;
    width: 230px;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #d6e2e9;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #293241;
    display: block;
}
.sidenav a:hover {
    color: #5aa9e6;
}

.main {
    background-color: rgb(47, 52, 55);
    margin-left: 230px; /* sidenav width만큼 */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
    width: 100%;
}
.main .days{
    position: relative;
    text-align: center;
    left: -115px;
}
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}
