* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background: #1e0f21;
}

header {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
#profile_img_wrapper{
    overflow:hidden;
}
#profile_img {
    background-image: url(/img/profile_wide.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#about_me {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    background: rgb(40, 174, 100);
    height: 100%;
    width: 100%;
}
#skill {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    background: rgb(148, 8, 141);
    height: 100%;
    width: 100%;
}
#project {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    background: rgb(20, 7, 7);
    height: 100%;
    width: 100%;
}
#links {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    background: rgb(4, 134, 171);
    height: 100%;
    width: 100%;
}
#takeAlook {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    background: rgb(128, 6, 6);
    height: 100%;
    width: 100%;
}
