/* login */
div.panel-heading{
    padding: 10px 15px;
    border-bottom: 1px solid black;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
div.panel-body{
    padding:10px 15px;
}
div.panel-body input{
    display: block;
    width: 100%;
    border: 1px solid #ddd;
    height: 30px;
    padding: 10px;
}
div.panel-body #loginBtn{
    display: block;
    margin-top: 10px;
    border: 1px solid #ddd;
    padding: 6px 12px;
    background-color: cadetblue;
    color: #fff;
    line-height: 29px;
}
div.login-form-wrapper{
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-color: #ddd;
    width: 360px;
}
div.buttons{
    padding: 15px;
}
div.buttons a {
    display: block;
    background-color: #3c9;
    border: 0;
    padding:6px 12px;
    color: #fff;
    cursor: pointer;
    margin: 0;
    line-height: 29px;
}