section.post_list{
    position:relative
}
div.post_bottom{
    height: 50px;
    position: relative;
}
div.post_bottom a {
    position: absolute;
    background-color: #3c9;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    border: 0;
    height: 29px;
    line-height: 29px;
    padding: 0 25px;
    top: 10px;
}