<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>JP's Portfolio</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="/css/common.css" />
	<link rel="stylesheet" type="text/css" href="/css/detail.css" />
</head>

<body>
	<div class="sidenav">
		<a href="#about">About</a>
		<a href="#work">Work</a>
		<a href="#skill">Skill</a>
		<a href="#interest">Interest</a>
		<a href="#Links">Links</a>
	</div>
	<section id="profile_img_wrapper">
		<div id="main_img">
			<h1>오늘의&nbsp;<span class="highlight">역사</span></h1>
		</div>
	</section>
	<section class="contents_wrapper">
		<div class="detail">
			<span class="date" th:text="${history?.historyDate}">2021-12-31</span>
			<div>
				<span class="content" th:text="${history?.content}">content</span>
			</div>
			<div>
				<span class="source" th:text="${history?.source}">source</span>
			</div>
		</div>
		<div id="comment_list">
			<form>
				<input type="hidden" name="historyId">
				<div class="form_wrapper">
					<dl class="comment_form_content">
						<dt>댓글 본문</dt>
						<dd>
							<textarea id="comment_textarea" name="content" data-login-url="" placeholder="댓글을 작성하려면 로그인하셔야 합니다."></textarea>
						</dd>
					</dl>
				</div>
			</form>
			
		</div>
	</section>
</body>

</html>