<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>JP's Portfolio</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="/css/common.css" />
	<link rel="stylesheet" type="text/css" href="/css/detail.css" />
</head>

<body>
	<div th:replace="fragments/fragments.html :: sideNav"></div>
	<section th:replace="fragments/fragments.html :: mainImg"></section>
	<section class="contents_wrapper">
		<div class="detail">
			<span class="date" th:text="${history?.historyDate}">2021-12-31</span>
			<div>
				<span class="content" th:text="${history?.content}">content</span>
			</div>
			<div>
				<span class="source" th:text="${history?.source}">source</span>
			</div>
		</div>
		<div id="comment_list_wrapper">
			<form id="comment_new_form">
				<input type="hidden" id="historyId" th:value="${history?.id}">
				<div class="form_wrapper">
					<dl>
						<dt>댓글 본문</dt>
						<dd>
							<textarea id="comment_textarea" name="content" data-login-url=""
								placeholder="댓글을 작성하려면 로그인하셔야 합니다."></textarea>
						</dd>
					</dl>
					<div class="buttons">
						<a href="javascript:;" id="comment_submit">
							<span>댓글 올리기</span>
						</a>
					</div>
				</div>
			</form>
			<ol id="comment_list">
				<li id="comment200693">
					<div class="profile_image">
						<img class="profile_icon" src="http://placehold.it/55x55" alt="">
					</div>
					<div class="name time">
						<strong>JPJPJP</strong><a href="javascript:;" name=""><time>10일 전</time></a>
					</div>
					<div class="comment_content">완료 </div>
					<div class="buttons">
						<a class="icon block reply" href="#"><span class="ico ico_reply"></span> 답글</a>
					</div>
				</li>
				<li th:each="comment : ${comments}">
					<div class="profile_image">
						<img class="profile_icon" src="http://placehold.it/55x55" alt="">
					</div>
					<div class="name time">
						<strong>JPJPJP</strong><a href="javascript:;" name=""><time>10일 전</time></a>
					</div>
					<div class="comment_content" th:text="${comment?.content}">완료 </div>
					<div class="buttons">
						<a class="icon block reply" href="#"><span class="ico ico_reply"></span> 답글</a>
					</div>
				</li>
			</ol>

		</div>
	</section>
	<script src="/js/detail.js"></script>
</body>

</html>