<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>JP's Portfolio</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="/css/common.css" />
	<link rel="stylesheet" type="text/css" href="/css/main.css" />
</head>

<body>
	<div class="sidenav">
		<a href="#about">About</a>
		<a href="#work">Work</a>
		<a href="#skill">Skill</a>
		<a href="#interest">Interest</a>
		<a href="#Links">Links</a>
	</div>
	<section id="profile_img_wrapper">
		<div id="main_img">
			<h1>오늘의&nbsp;<span class="highlight">역사</span></h1>
		</div>
	</section>
	<div id="contents_wrapper" class="page-body">
		<table class="collection-content">
			<colgroup>
				<col width="10%" />
				<col width="20%" />
				<col width="13%" />
			</colgroup>
			<thead>
				<tr>
					<th><span class="icon property-icon">날짜</span></th>
					<th><span class="icon property-icon">내용</span></th>
					<th><span class="icon property-icon">출처</span></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="history : ${histories}">
					<td class="cell"><time th:text="${history.historyDate}">@2021년 3월 13일 오후 1:48</time></td>
					<td class="cell content" th:id="${history.id}" th:text="${history.content}">내용</td>
					<td class="cell"><span class="selected-value select-value-color-red" th:text="${history.source}">출처</span></td>
				</tr>
			</tbody>
		</table>
	</div>

	<script src="/js/main.js"></script>
</body>

</html>