<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <title>JP's Portfolio</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" type="text/css" href="/css/common.css" />
  <link rel="stylesheet" type="text/css" href="/css/main.css" />
</head>

<body>
  <section id="profile_img_wrapper">
    <div id="profile_img">
      <div class="wrapper">
        <h1>
          Hi, I'm &nbsp;<span class="highlight">JP</span>
          <br>
          and I'm a web-developer
        </h1>
      </div>
    </div>
  </section>
  <section id="about_me">

    <div class="sidenav">
      <a href="#about">About</a>
      <a href="#work">Work</a>
      <a href="#skill">Skill</a>
      <a href="#interest">Interest</a>
      <a href="#Links">Links</a>
    </div>

    <div class="main">
      <h2>Sidebar</h2>
      <p>This sidebar is of full height (100%) and always shown.</p>
      <p>Scroll down the page to see the result.</p>
      <p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque
        et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus
        repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
      <h1>About Me</h1>
      <a href="/posts" class="btn btn-primary btn-round btn-lg">Take a look</a>
    </div>
    </div>
  </section>

  <script src="/js/main.js"></script>
</body>

</html>